* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.container {
  /* background-color: red; */
  width: 100%;
  text-align: center;
  margin: auto;
}

.row{
  background-color: yellow;
  margin-bottom: 20px;
}

.box {
  /* background-color: blue; */
  position: relative;
  display: inline-block;

}

.box .sale{
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
}
