* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.container {
  /* background-color: red; */
  width: 100%;
  margin: auto;
  text-align: center;
}

.row {
  /* background-color: yellow; */
  margin-bottom: 20px;
}

.box {
  /* background-color: blue; */
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.box .sale {
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}

.box:nth-child(2n) .sale {
  background-color: red;
}

.box .heart {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: red;
  font-size: 30px;
  text-align: center;
  display: none;
}

.box:hover .heart {
  display: block;
}
